.productList {
  font-family: 'Roboto', sans-serif;

  &__container {
    padding: 0 15px;
    margin: 0 auto;
    max-width: 1470px;
  }

  &__btns {
    display: grid;
    grid-template-columns: 432px 1fr 100px;
  }

  &__btn {
    font-size: 1rem;
    text-align-last: left;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    row-gap: 2rem;
    margin: 0 auto;

    .productTable & {
      @media (min-width: 768px) {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        row-gap: initial;
        margin: 0 auto;
      }
    }

    @media (min-width: 420px) {
      display: grid;
      grid-template-columns: repeat(auto-fill, 246px);
      gap: 2rem 1rem;
      justify-content: space-around;
    }
  }
}