h2, h3, p {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    cursor: revert;
    color: inherit;
}

.footer {
    background-color: rgb(13,11,64);
    color: rgb(242,242,242);
    font-family: "Roboto", Sans-Serif;

    &__container {
        min-width: 320px;
        max-width: 1470px;
        margin: 0 auto;
        padding: 20px 15px;
        box-sizing: border-box;
    }

    &__title {
        font-size: 30px;
        font-weight: normal;
        padding-bottom: 20px;
    }

    &__info {
        position: relative;

        &::before {
            position: absolute;
            width: 100%;
            height: 1px;
            background-color: rgb(242,68,5);
            content: '';
        }

        &::after {
            position: absolute;
            width: 100%;
            height: 1px;
            background-color: rgb(242,68,5);
            content: '';
        }
    }

    &__infoTitle {
        font-size: 19px;
        letter-spacing: 0.05em;
        padding: 10px 0;
    }

    &__infoText {
        max-width: 280px;
        font-size: 15px;
        padding-bottom: 10px;
    }

    &__infoText:last-child {
        padding-bottom: 20px;
    }

    &__copyright {
        max-width: 240px;
        margin-top: 20px;
        letter-spacing: 0.01em;
        line-height: 1.5em;
        font-size: 13px;
    }
}

@media (min-width: 768px) {
    .footer {

        &__container {
            padding: 20px 50px; 
        }

        &__title {
            font-size: 50px;
        }

        &__infoTitle {
            font-size: 29px;
            letter-spacing: 0.05em;
            padding: 20px 0 15px 0;
        }

        &__infoText {
            max-width: 100%;
            font-size: 20px;
            padding-bottom: 10px;
        }

        &__copyright {
            max-width: 100%;
            font-size: 14px;
        }
    }
}

@media (min-width: 993px) {
    .footer {

        &__container {
            width: 980px;
            padding: 20px 0;
        }
    }
}