.b2b {
    color: #fff;

    .wrapper {
      background: radial-gradient(circle at 0% 100%, rgba(242,242,242,0.52) 0%, 21.32%, rgba(242,242,242,0) 52%), radial-gradient(circle at 97.77777989705405% 79.16666666666666%, rgba(240,85,55,0.72) 0%, 20%, rgba(240,85,55,0) 40%), radial-gradient(circle at 41.9444465637207% 0%, rgba(80,28,18,0.83) 0%, 35.550000000000004%, rgba(80,28,18,0) 79%), radial-gradient(circle at 51.66666666666667% 53.611113230387375%, #0B128C 0%, 11.55%, rgba(11,18,140,0) 35%), radial-gradient(circle at 86.38890584309897% 35.833333333333336%, #0D0B40 0%, 31.95%, rgba(13,11,64,0) 71%), radial-gradient(circle at 48.9013671875% 49.521484375%, #1E1D40 0%, 100%, rgba(30,29,64,0) 100%);
        
    };

    .container {
      padding: 20px 15px;
      display: grid;
      grid-template-rows: repeat(11, min-content) 1fr;
      grid-template-columns: 100%;
      row-gap: 14px;
    }

    .title {
      font-family: 'Roboto', sans-serif;
      font-size: 42px;
      letter-spacing: 0em;
      margin: 0;
      font-weight: 500;
      }

    .description {
      margin-bottom: 20px;  
    }

    .text {
      margin-bottom: 100px;
      }

    .paragraph {
      font-family: 'Thasadith', sans-serif;
      text-align: left;
      margin: 0;
      font-size: 16px;
      font-weight: 600;
      text-indent: 2em; 
    }

    .photo {
      display: grid;
      grid-template-columns: 2fr 1fr;
      grid-template-rows: 1fr 1fr;
      position: relative;

      &__pc {
        grid-column: 1 / span 2;
        grid-row: 1 / span 2;
        position: relative;

        img {
        //   width: 100%;
        //   height: auto;
          width: 524px;
          height: 263px;
          border-radius: 25px;
        }
      }

      &__pc_productcard {
        position: absolute;
        left: -3%;
        bottom: 0;

        img {
          border-radius: 25px;
          width: 219px;
          height: 112px;
        }
    }
        &__mobile {
          position: absolute;
          top: -36%;
          right: 0px;

          img {
            border-radius: 25px;
            // width: 160px;
            // height: 346px;
            width: 195px;
            height: 398px;
          }
        }

        &__mobile_productcard {
          position: absolute;
          top: 35%;
          left: -50%;

          img {
            border-radius: 25px;
            width: 202px;
            height: 87px;
          }
        }
      }

        .subtitle {
          font-size: 26px;
          font-weight: 400;
          text-align: center;
          margin: 20px 0;
        }

        .listItem {
          display: flex;
          align-items: center;
          width: 80%;
          max-width: 325px;
          justify-self: center;
          background: rgba(255, 119, 70, 1);
          border-radius: 25px;
        }

        .img__container {
            border-radius: 50%;
            background: rgba(30, 29, 64, 1);
            margin: 1em;
        }

        .listItem__img {
            width: 63px;
            height: 55px;
            object-fit: cover;
            position: relative;
            left: 10px;
            bottom: 5px;
        }

        .listItem__text {
            font-size: 24px;
            margin-left: 10px;
        }
    }
