.becomePartner {
    margin: 20px auto 0;
    color: rgb(242,242,242);
   

    &__wrapper {
        background: linear-gradient(rgba(13, 11, 64, 0.45), rgba(13, 11, 64, 0.45)), url("../../../public/images/Home.webp") no-repeat center top/ cover;
        padding: 100px 0;
        background-attachment: fixed;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }
    .parallaxImg {
        position: absolute;
        inset: 0;
        transform: translateZ(0);
    }
    .title {
        font-size: 44px;
        text-align: center;
        padding: 0 10px;
        line-height: 1.4em;
        font-weight: 500;
    }

    .list {
        list-style: none;
        padding: 0;
        width: 100%;
    }

    .listItem {

        &__container {
            display: flex;
            align-items: center;
            margin-bottom: 20px;
        }

        &__img {
            width: 63px;
            height: 55px;
            object-fit: cover;
        }

        &__text {
            line-height: normal;
            font-size: 25px;
            letter-spacing: 0.05em;
        }
    }

    .btn {
      padding: 17px;
      font-style: normal;
      font-family: futura-lt-w01-book,sans-serif;
      letter-spacing: 0.15em;
      font-weight: 700;
      color: #120B3C;
      font-size: 19px;
      transition: all 0.2s ease, visibility 0s;
      background: #F2F2F2;
      border: 2px solid transparent;
      border-radius: 10px;
      box-sizing: border-box;

      &:hover {
        border: 2px solid #F2F2F2;
        background: #F24405;
        color: #F2F2F2;
      }
    }
    @media (min-width: 768px) {

      &__wrapper{
        // display: block;
      
      .title {
        font-size: 59px;
        text-align: center;
        padding: 0 26px;
        line-height: 1.4em;
        font-weight: 700;
    }
    .list {
        width: 52%;
        align-self: flex-start;
    }
    .btn__container {
        width: 54%;
        align-self: flex-end;
        text-align: center;
    }

    }
}
}