
.loginForm {
    min-height: 100vh;
    background: url('../../../public/images/background-auth.webp') 50%/cover no-repeat;
    font-family: "Roboto", Sans-Serif;

    &__container {
        box-sizing: border-box;
        min-height: 100vh;
        margin: 0 auto;
        max-width: 1470px;
        padding: 0 15px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    &__main {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }

    &__logo {
        margin: 0 auto;
    }

    &__logo img {
        width: 100px;
    }

    &__wrapper {
        box-sizing: border-box;
        margin: 0 auto;
        max-width: 25rem;
        background-color: #fff;
        border-radius: 10px;
        box-shadow: 0 2px 4px 0 rgba(19,26,38,.06);
        padding: 15px;
        z-index: 1;
    }

    &__footer {
        text-align: center;
        font-size: 13px;
        color: #CDD1DA;
    }
}

@media (min-width: 768px) {
    .loginForm {

        &__wrapper {
            padding: 25px;
        }
    }
}